html,
body {
  scroll-behavior: smooth;
}

body {
  display: block;
  font: 20px / 25px Monaco, monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root {
  unicode-bidi: isolate;
}

@media (max-width: 1380px) {
  body,
  html {
    font-size: 16px;
    line-height: normal;
  }
}
